services:
  ps9-boston-dynamic-mobile-cv-testing-systems:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/workspaces/PS9-Boston-Dynamic-Mobile-CV-Testing-Systems:cached
      - venv-data:/workspaces/PS9-Boston-Dynamic-Mobile-CV-Testing-Systems/.venv
      - sqlite-data:/workspaces/PS9-Boston-Dynamic-Mobile-CV-Testing-Systems/db_data
      #- torch-cache:/opt/torch
    working_dir: /workspaces/PS9-Boston-Dynamic-Mobile-CV-Testing-Systems
    environment:
      - PYTHONPATH=/workspaces/PS9-Boston-Dynamic-Mobile-CV-Testing-Systems/src
      #- TORCH_HOME=/opt/torch
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_SECURE=false
    depends_on:
      - minio
    networks:
      - app-network
    command: sleep infinity

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes: 
      - minio-data:/data
    networks: 
      - app-network
    command: server /data --address ":9000" --console-address ":9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  minio-data:
  venv-data:
  sqlite-data:
  torch-cache:

networks:
  app-network:
    driver: bridge
