# Code Quality & Testing
ruff==0.6.0
black==25.9.0
pytest==8.4.2
pytest-sugar==1.1.1

# Config & Utilities
pyyaml==6.0.3
cryptography==46.0.3
dotenv==0.9.9

# Boston Dynamics SDK
bosdyn-client==5.0.1.1
bosdyn-mission==5.0.1.1
bosdyn-choreography-client==5.0.1.1
bosdyn-orbit==5.0.1.1

# Industrial / Infrastructure
opcua==0.98.13
minio==7.2.18

# Computer Vision & ML
opencv-python==4.12.0.88
numpy==2.2.6
matplotlib==3.10.7
ultralytics>=8.0.0
torch
pillow==12.0.0
scikit-learn==1.8.0
